@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --font-heading: 'Sen', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* Common */
.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.heading {
    font-weight: 700;
    letter-spacing: -0.02em;
    font-family: var(--font-heading);
    color: #171100;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 38px;
    line-height: 1.26;
}

.desc {
    font-weight: 400;
    color: #5F5B53;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    -webkit-line-clamp: var(--line-clamp, 1);
}

/* Header */
.header {
    width: 100%;
    background: #FFFCF4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
    align-items: center;
}

.header .nav a {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5F5B53;
    text-decoration: none;
    padding: 8px 21px;
}

.header .nav li.active a,
.header .nav a:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.header .nav li.active a {
    position: relative;
    color: #171100;
}

.header .nav li.active a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 11px;
    bottom: 4px;
    left: 22px;
    border-radius: 13px;
    background-color: #171100;
}

.header .action {
    margin-left: 50px;
}

header .action .sign-up-btn {
    text-decoration: none;
    min-width: 144px;
}

/* Hero */
.hero {
    padding: 56px 0 62px;
    background-color: #FFFCF4;
}

.hero .body {
    display: flex;
    justify-content: space-between;
}

.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    border-radius: 22px;
}

.hero-summary {
    position: absolute;
    right: -6px;
    top: 393px;
    max-width: 271px;
    background-color: #fff;
    box-shadow: 0px 16px 32px rgb(0 0 0 / 5%);
    border-radius: 12px;
}

.hero-summary .list-courses {
    padding: 24px 63px 10px 24px;
}

.hero-summary .item {
    display: flex;
    margin-bottom: 14px;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .item .quantity {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}

.hero-summary .item .name {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .content-block .desc {
    font-size: 1.8rem;
    line-height: 1.67;
    margin-top: 22px;
}

.hero .content-block .row {
    display: flex;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 48px;
}

.hero .content-block .see-courses {
    min-width: 180px;
}

.hero .content-block .see-btn {
    width: 100%;
    text-decoration: none;
    padding: 7px 0;
    background-color: var(--primary-color);
}

.hero .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hero .watch-video .img-pause {
    padding: 15px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgb(0 0 0 / 7%);
}

.hero .watch-video span {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
    margin-left: 14px;
}

.hero .stats {
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin: 8px 0 0 -28px;
}

.hero .stats strong {
    padding: 0 8px 0 28px;
    font-weight: 700;
    font-size: 4.4rem;
    font-family: var(--font-heading);
    line-height: 1.23;
    color: #171100;
}

/* Popular */
.popular {
    padding-top: 65px;
    margin-top: 135px;
}

.popular .popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .popular-top .desc {
    width: 428px;
    font-size: 18px;
    line-height: 1.67;
    margin-top: 16px;
}

.popular .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.popular .controls .btn-control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: #fff;
    border-radius: 50%;
}

.popular .controls .btn-control:hover {
    cursor: pointer;
    color: #fff;
    background-color: var(--primary-color);
}

.popular .courses-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 55px;
    gap: 30px;
}

.popular .courses-list a {
    text-decoration: none;
}

.popular .courses-list .bold {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular .course-item {
    flex: 1;
    background: #FFFFFF;
    border: 1px solid #E2DFDA;
    border-radius: 12px;
}

.popular .course-item:hover {
    background: #FFFFFF;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
}

.popular .course-item .img-thumb {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    cursor: pointer;
}

.popular .course-item .info {
    padding: 16px 22px 22px;
}

.popular .course-item .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

.popular .course-item .rating {
    display: flex;
    align-items: center;
}

.popular .course-item .value {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    margin-left: 6px;
    color: #FEA31B;
}

.popular .course-item .desc {
    font-size: 1.4rem;
    line-height: 1.86;
    margin-bottom: 12px;
    -webkit-line-clamp: 2;
}

.popular .course-item .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .course-item .btn-course:hover {
    background: #FFB900;
}

